<body class="typing">
<%=render "layouts/nav"%>

  <div class="wrapper">
    <h1>Typing GAME</h1>
    <p>Type as many words as you can in 60 seconds!</p>
    <button>START</button>
    <div class="outerWrap">
      <div class="scoreWrap">
        <p>Score</p>
        <span class="score">0</span>
      </div>
      <div class="timeWrap">
        <p>Time left</p>
        <span class="time">60</span>
      </div>
    </div>
    <div class="wordsWrap">
      <p class="words"></p>
    </div>
  </div>
</body>