<body class="typing">
<%=render "layouts/nav"%>
<script src="https://cdn.rawgit.com/kimmobrunfeldt/progressbar.js/0.6.0/dist/progressbar.js"></script>


  <div class="wrapper">
    <h1>Typing GAME</h1>
    <p>Type as many words as you can in 60 seconds!</p>
    
    <div class="outerWrap">
    <button>START</button>
      <div class="scoreWrap">
        <p>Score</p>
        <span class="score">0</span>
      </div>

      <div class="timeWrap">
        <p>Time left</p>
        <span class="time">60</span>
        
      </div>
<!-- 
      <script>
        var bar = new ProgressBar.Path('#heart-path', {
          easing: 'easeInOut',
          duration: 60000
        });

        bar.set(1);
        bar.animate(0.0);
        // Number from 0.0 to 1.0
      </script> -->
       <div class="progress" id="line-container"></div>
      <!-- <script>
    var line = new ProgressBar.Line('#line-container', {
        color: '#FCB03C',
        duration: 60000
    });
    line.set(1);
    line.animate(0,0);
    </script> -->
    </div>
    <div class="wordsWrap">
      <p class="words"></p>
    </div>
  </div>
</body>