/*.wrapper {
  background-color: orange;
}
.outerWrap {
  background-color: pink;
}*/

/*.timeWrap {
  background-color: purple;
}
*/
/*.wordsWrap{
	background-color:blue;

}*/
/*.words{
    background-color:green;

}*/