<body id="frank-body">
<%= render 'layouts/nav' %>
<h1>My name is Frank and I made this for my badass friend Robbie</h1>
<p align="center">He's such a cool dude<p>

<%= audio_tag("silly.mp3", autoplay: true) %>
<div class="container">

  <%= image_tag("ADMIN.png", class: "intro" ) %>
</div>

<div id="flappy"></div>

</body>